.footer{
    
}

.fItem{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1em;
    color: white;
    display: flex;
    align-items: center;
}

@media (min-width:200px) {
    .footer{
        flex-direction: column;
        justify-content: center;
        
    }
    .fItem{
        align-self:center;
    }
}

@media (min-width:1024px){
    .footer{
        flex-direction: row;
        justify-content: space-evenly;
    }
}